.products {
  margin-top: 60px;
}

.products__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #b4b4b4;
  padding-bottom: 30px;
  gap: 15px;

  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38.73px;
    color: #0c0c0c;
  }

  a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #0c0c0c;
  }
}

// products__middle

.products__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 10px;
  .card {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 288px;
    height: auto;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: -2px 2px 15px -1px #7171711f;
    position: relative;

    .card__img {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #b4b4b4;
      padding-bottom: 25px;
      img {
        width: 100%;
        height: 200px;
      }
      button {
        position: absolute;
        background-color: transparent;
        top: 10px;
        right: 10px;
        .heart {
          font-size: 22px !important;
          z-index: 500;
        }
      }
    }

    .card__text {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 10px !important;
      h3 {
        height: 50px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #0c0c0c;
      }

      .reitin {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        h4 {
          font-size: 18px;
          font-weight: 300;
          line-height: 21.78px;
          color: #0c0c0c;
        }
        button {
          display: flex;
          align-items: center;
          gap: 6px;
          background-color: transparent;
          p {
            font-size: 16px;
            font-weight: 500;
            color: #063a88;
          }
          .star {
            color: #063a88;
            font-size: 14px;
          }
        }
      }
    }
  }
}

// products__bottom

.products__bottom {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.left {
  width: 70%;
  background: linear-gradient(
    286.99deg,
    #b0e9c9 1.99%,
    #1fb6cf 48.52%,
    #1975b9 98.92%
  );
  border-radius: 10px;
  padding: 40px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;

  .left_img {
    display: flex;
    flex-direction: column;
    gap: 60px;
    h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 29.05px;
      color: #0c0c0c;
      span {
        color: #ffff;
      }
    }
  }

  .left_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;

    .text__btn {
      display: flex;
      align-items: center;
      gap: 30px;
      button {
        width: 60px;
        height: 50px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #0c0c0c;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 24.2px;
      color: #0c0c0c;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #2d2d2d;
    }

    > button {
      width: 134px;
      height: 48px;
      border-radius: 8px;
      background: #0c68f4;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;

      color: #fff;
    }
  }
}

.right {
  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 940px) {
  .products__top {
    h2 {
      font-size: 28px;
    }

    a {
      font-size: 14px;
    }
  }

  .products__middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    .card {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .products {
    margin-top: 40px;
  }
  .products__top {
    h2 {
      font-size: 26px;
    }

    a {
      font-size: 13px;
    }
  }

  .products__middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    .card {
      width: 100%;
      // padding: 10px;
      .card__img {
        padding-bottom: 10px;
        img {
          height: 140px;
          width: 100%;
        }
        button {
          .heart {
            font-size: 20px !important;
          }
        }
      }

      .card__text {
        h3 {
          font-size: 14px;
        }

        .reitin {
          h4 {
            font-size: 16px;
          }
          button {
            p {
              font-size: 14px;
            }
            .star {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .products {
    margin-top: 30px;
  }
  .products__top {
    h2 {
      font-size: 22px;
    }

    a {
      font-size: 11px;
    }
  }

  .products__middle {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    .card {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-direction: column;
      width: 100%;
      height: 347px;
      border-radius: 8px;
      background: #ffffff;
      box-shadow: -2px 2px 15px -1px #7171711f;
      padding: 20px;
      position: relative;
      .card__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #b4b4b4;
        padding-bottom: 20px;
        button {
          position: absolute;
          background-color: transparent;
          top: 20px;
          right: 20px;
          .heart {
            font-size: 22px !important;
          }
        }
      }

      .card__text {
        h3 {
          height: 50px;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          color: #0c0c0c;
        }

        .reitin {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h4 {
            font-size: 18px;
            font-weight: 300;
            line-height: 21.78px;
            color: #0c0c0c;
          }
          button {
            display: flex;
            align-items: center;
            gap: 6px;
            background-color: transparent;
            p {
              font-size: 16px;
              font-weight: 500;
              color: #063a88;
            }
            .star {
              color: #063a88;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1275px) {
  .products__bottom {
    display: flex;
    gap: 20px;
    margin-top: 60px;
  }

  .left {
    width: 70%;
    border-radius: 10px;
    padding: 20px;

    .left_img {
      gap: 60px;
      h3 {
        font-size: 20px;
      }
    }

    .left_text {
      .text__btn {
        display: flex;
        align-items: center;
        gap: 10px !important;
        button {
          width: 60px;
          height: 50px;
          border-radius: 5px;
          background-color: transparent;
          border: 1px solid #0c0c0c;
        }
      }
    }
  }
}
@media (max-width: 1275px) {
  .products__bottom {
    flex-wrap: wrap;
  }

  .left {
    width: 100%;
    background: linear-gradient(
      286.99deg,
      #b0e9c9 1.99%,
      #1fb6cf 48.52%,
      #1975b9 98.92%
    );
  }

  .right {
    display: none;
  }
}

@media (max-width: 800px) {
  .products__bottom {
    display: flex;
    gap: 20px;
    margin-top: 60px;
  }

  .left {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .left_img {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      img {
        width: 100%;
      }
      h3 {
        font-size: 20px;
      }
    }

    .left_text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .text__btn {
        button {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          background-color: transparent;
          border: 1px solid #0c0c0c;
        }
      }

      h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;
        color: #0c0c0c;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #2d2d2d;
      }

      > button {
        width: 134px;
        height: 48px;
        border-radius: 8px;
        background: #0c68f4;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;

        color: #fff;
      }
    }
  }
}

@media (max-width: 430px) {
  .products__bottom {
    display: flex;
    gap: 20px;
    margin-top: 60px;
  }

  .left {
    .left_img {
      gap: 20px;
    }

    .left_text {
      gap: 20px;

      h3 {
        font-size: 16px;
      }
      p {
        font-size: 13px;
      }

      > button {
        width: 104px;
        height: 38px;
        font-size: 12px;
      }
    }
  }
}
