.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Umumiy stil */
.nav__link .ul {
  display: flex;
  gap: 60px; /* Elementlar orasidagi bo'shliq */
}

.nav__link .li a {
  text-decoration: none; /* Tag chiziqni olib tashlash */
  color: black; /* Matn rangi */
  font-size: 16px; /* Matn o'lchami */
  position: relative; /* Chiziqni pozitsiya qilish uchun */
  transition: color 0.3s ease; /* Matn o'zgarishini silliq qilish */
}

.nav__link .li a:hover {
  color: black; /* Matn rangi o'zgarmaydi */
}

/* Hover paytidagi chiziq */
.nav__link .li a::after {
  content: ""; /* Bo'sh kontent */
  position: absolute;
  left: 0;
  bottom: -2px; /* Chiziq tagdan 2px pastda */
  width: 0;
  height: 2px; /* Chiziqning balandligi */
  background-color: black; /* Chiziq rangi */
  transition: width 0.3s ease; /* Silliq chiqish effekti */
}

.nav__link .li a:hover::after {
  width: 100%; /* Chiziq to'liq kengayadi */
}

.nav__user {
  display: flex;
  align-items: center;
  gap: 25px;

  button {
    background-color: white;
    img {
      width: 25px;
    }
  }
}

@media (max-width: 840px) {
  .nav__link .ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Elementlar orasidagi bo'shliq */
    padding: 0;
    margin: 0;
  }

  .nav__link .li a {
    text-decoration: none; /* Tag chiziqni olib tashlash */
    color: black; /* Matn rangi */
    font-size: 14px; /* Matn o'lchami */
    position: relative; /* Chiziqni pozitsiya qilish uchun */
    transition: color 0.3s ease; /* Matn o'zgarishini silliq qilish */
  }
}

.bars {
  display: none;
  font-size: 25px;
}

@media (max-width: 660px) {
  .nav__link {
    display: none;
  }
  .nav__link .ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .bars {
    display: block;
  }
}

@media (max-width: 360px) {
  .bars {
    font-size: 22px;
  }
  .nav__user {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      background-color: white;
      img {
        width: 22px;
      }
    }
  }
}
