.footer {
  padding-top: 40px;
  background: #021736;
}

.footer__top {
  display: flex;
  align-items: start;
  justify-content: space-between;

  .footer__link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      color: #fff;
    }
    a {
      display: block;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #cbcbcb;
    }
  }

  .footer__sosials {
    display: flex;
    flex-direction: column;
    gap: 15px;
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      color: #fff;
    }

    .footer__sosial {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #cbcbcb;
      }

      .link {
        font-size: 22px;
        color: #cbcbcb;
      }
    }
  }
}
// footer___sign

.footer___sign {
  display: flex;
  align-items: start;
  gap: 30px;

  .sign__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      color: #fff;
    }
    > button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      width: 288px;
      height: 48px;
      border-radius: 8px;
      border: 1px solid #fff;
      font-size: 20px;
      line-height: 24px;
      background-color: transparent;
      color: #fff;
    }
  }

  .sosial {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
      background-color: transparent;
      font-size: 27px;
      color: #fff;
    }
  }

  > button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #aecdfb;
    font-size: 22px;
    display: flex;
    color: #2d2d2d;
    align-items: center;
    justify-content: center;
  }
}

// footer__middle

.footer__middle {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
  img {
    width: 60px;
  }
}

// footer__bottom

.footer__bottom {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .bottom__left {
    display: flex;
    align-items: center;
    gap: 15px;
    button {
      background-color: transparent;
      border: 1px solid #fff;
      width: 30px;
      height: 30px;
      color: #fff;
      border-radius: 100%;
      font-size: 20px;
    }

    p {
      color: #fff;
      font-size: 18px;
    }
  }

  .bottom__right {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      color: #fff;
      font-size: 16px;
    }
  }
}
