.showcase > div {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}

.showcase__left {
  width: 50%;
  gap: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .showcase__text {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 64px;
      font-weight: 600;
      line-height: 77.45px;
      color: #042352;
    }

    p {
      font-size: 32px;
      font-weight: 500;
      line-height: 38.73px;
      color: #042352;
      span {
        color: #f45e0c !important;
      }
    }
  }

  button {
    width: 288px;
    height: 56px;
    border-radius: 8px;
    background-color: #f45e0c;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    transition: 0.5s;
    &:hover {
      color: #f45e0c;
      background-color: transparent;
      box-shadow: 0 0 5px #f45e0c;
    }
  }
}

.showcase__right {
  img {
    width: 100% !important;
  }
}
@media (max-width: 1174px) {
  .showcase__left {
    gap: 60px;

    .showcase__text {
      gap: 30px;

      h1 {
        font-size: 44px;
      }

      p {
        font-size: 22px;
      }
    }

    button {
      width: 208px;
      font-size: 15px;
    }
  }
}

@media (max-width: 946px) {
  .showcase > div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .showcase__left {
    width: 100%;
    align-items: center;
    gap: 60px;
    display: flex;

    .showcase__text {
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 64px;
      }

      p {
        font-size: 32px;
      }
    }

    button {
      width: 288px;
      height: 56px;
     font-size: 16px;
    }
  }
}

@media (max-width: 730px) {
  .showcase__left {
    gap: 40px;

    .showcase__text {
      gap: 20px;

      h1 {
        font-size: 44px;
      }

      p {
        font-size: 22px;
      }
    }

    button {
      width: 208px;
      font-size: 15px;
    }
  }
}

@media (max-width: 440px) {
  .showcase__left {
    gap: 30px;

    .showcase__text {
      gap: 25px;

      h1 {
        font-size: 34;
      }

      p {
        font-size: 18px;
      }
    }

    button {
      width: 188px;
      height: 40px;
      font-size: 14px;
    }
  }
}

@media (max-width: 360px) {
  .showcase__left {
    gap: 20px;

    .showcase__text {
      gap: 0px;

      h1 {
        font-size: 32px;
      }

      p {
        font-size: 17px;
      }
    }

    button {
      width: 130px;
      height: 33px;
      font-size: 14px;
    }
  }
}
